<h1><%= t '.header' %></h1>

<%- instructions = t('contact_requests.contact_email_recipients_instructions').split(/\n/) -%>
<%- instructions.each do |instruction_line| %>
    <p><%= instruction_line %></p>
<% end %>

<%= render 'form' %>

<p><%= t 'contact_requests.gdpr_disclaimer_html' %></p>
