/log
/tmp
/public/system
/public/assets
/coverage/
/.bundle
/vendor/bundle
/config/database.yml
/config/application.yml

# Do not commit one. Instead, download the latest from https://github.com/internetee/style-guide.
.rubocop.yml
.DS_Store
Dockerfile.dev.v2
