<pre>
  <%= render partial: "whois", locals: { json: @whois_record.json } %>
</pre>
<% if @verified.blank? %>
    <div>
        <%= form_for @whois_record, url: "/v1/#{@whois_record.name}", method: :get do |f| %>
            <%= recaptcha_tags %>
            <br/>
            <%= submit_tag 'View full whois info', name: nil %>
        <% end %>
    </div>
<% end %>
