whitelist_ip: '127.0.0.1'
recaptcha_public_key: 'add-your-own-public-key'
recaptcha_private_key: 'add-your-own-private-key'

# You can use `rake secret` to generate a secure secret key.
# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
secret_key_base: 'please-change-it-you-can-generate-it-with-rake-secret'

# New Relic app name
new_relic_app_name: 'Restful-whois' 
