<h2>'Welcome to rest whois server! More information at http://internet.ee'</h2>

<%= form_tag(root_path, method: :get) do %>
    <p><%= I18n.t(:search) %></p>
    <%= text_field(:whois_record, :domain_name) %>
    <%= submit_tag(I18n.t(:submit)) %>
<% end %>
