/* ...
 *= require_self
 *= require bootstrap-reboot.min
 *= require_tree .
 */

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(40px, auto);
}

.grid-container .header {
    grid-row: 1 / 1;
    grid-column: 2 / 5;
}

.grid-container .main {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}

.grid-container .right {
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1, h2, h2, h3, a, a:visited {
    color: #008fd7;
}

a:hover {
    color: #f69240;
}

#flash-alert {
    padding: 20px;
    background-color: #f44336;
    color: #fff;
    margin-bottom: 15px;
}

#flash-success {
    padding: 20px;
    background-color: #4CAF50;
    color: #fff;
    margin-bottom: 15px;
}

#flash-notice {
    padding: 20px;
    background-color: #ff9800;
    color: #fff;
    margin-bottom: 15px;
}
