<div id="flash">
    <% if flash[:notice] %>
        <div id="flash-notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:success] %>
        <div id="flash-success"><%= flash[:success] %></div>
    <% end %>
    <% if flash[:error] || flash[:alert] %>
        <div id="flash-alert"><%= flash[:error] || flash[:alert] %></div>
    <% end %>
</div>
