<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta content="Full stack top-level domain (TLD) management." name="description"/>
        <meta content="Estonian Internet Foundation" name="author"/>
        <title>
            Whois record: <%= @domain_name %>
        </title>
    </head>
    <body>
        <%= render 'shared/flash' %>
        <%= yield %>
    </body>
</html>
