!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Full stack top-level domain (TLD) management.", :name => "description"}/
    %meta{:content => "Gitlab LTD", :name => "author"}/
    %title
      Whois record: #{params[:id]}
  %body
    = render 'shared/flash'
    = yield
