<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <%= stylesheet_link_tag 'application' %>

        <title>
            REST WHOIS for .ee domains
        </title>
    </head>
    <body>
        <div class='grid-container'>
            <div class='header'>
                <%- other_locales.each do |locale| %>
                    <%= link_to locale, params.merge!({ locale: locale }) %>
                <% end %>
            </div>
            <div class='main'>
                <%= render 'shared/flash' %>
                <%= yield %>
            </div>
            <div class='right'>
            </div>
    </body>
</html>
